{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
    <div class="flex flex-col justify-center items-center align-middle">
        <form method="post">
            {% if error %}
                <div class="badge bg-error text-lime-50 w-full h-10">
                    <div>
                        <svg xmlns="http://www.w3.org/2000/svg" height="24" width="24" fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16">
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"></path>
                            <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"></path>
                        </svg>
                    </div>
                    {{ error.messageKey|trans(error.messageData, 'security') }}
                </div>
            {% endif %}

        {#    {% if app.user %}#}
        {#        <div class="mb-3">#}
        {#            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>#}
        {#        </div>#}
        {#    {% endif %}#}

            <h1 class="mb-3 mt-3 font-extrabold text-center">Connectez-vous !</h1>
            <label for="inputUsername" class="label font-bold w-full">Identifiant</label>
            <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="input input-bordered w-full mt-3 bg-white" autocomplete="username" required autofocus>
            <label for="inputPassword" class="label font-bold w-full">Mot de passe</label>
            <input type="password" name="password" id="inputPassword" class="input input-bordered w-full mt-3 bg-white" autocomplete="current-password" required>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            <button class="btn btn-primary mt-3 w-full" type="submit">
                Connexion
            </button>
        </form>
    </div>
{% endblock %}
