<div class="flex flex-col justify-center items-center align-middle">
    <div class="card w-96 bg-base-100 shadow-xl">
        <div class="card-body text-center">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <datalist id="serviceLst">
                {% for service in serviceLst %}
                    <option value="{{ service.id }}">{{ service.name }}</option>
                {% endfor %}
            </datalist>
            <div class="mt-3">
                {% if user is defined %}
                    <a class="btn btn-info" href="{{ path('app_user_see',{'username':user.username}) }}">Retour</a>
                    <button type="submit" class="btn btn-primary">Mettre à jour</button>
                {% else %}
                    <a class="btn btn-info" href="{{ path('app_user') }}">Retour</a>
                    <button type="submit" class="btn btn-primary">Créer</button>
                {% endif %}
            </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>
