{% extends 'base.html.twig' %}

{% block title %}Ticketing | TICKET T°{{ ticket.id }}{% endblock %}

{% block body %}
    <div class="flex flex-col justify-center items-center align-middle">
        <a href="{{ path('app_main') }}" class="btn btn-info mb-3">Retour</a>
        <div class="card bg-gray-200 shadow-xl">
            <div class="card-body">
                <h2 class="card-title">
                    <span class="badge badge-ghost">Ouvert le {{ ticket.createDate|date('d/m/Y H:i') }}</span>
                    <span class="badge badge-secondary">TICKET T°{{ ticket.id }}</span></h2>
                <p>Créer par {{ ticket.creator.firstname ~ " " ~ticket.creator.name }}</p>
                <p>Traitement: {{ ticket.treatments|length }}</p>
                <p>Raison d'ouverture: {{ ticket.problem }}</p>
                <div class="card-actions justify-end">
                    {% if ticket.treatments|length == 0 %}
                        <a class="btn btn-primary" href="{{ path('app_ticket_open',{'id': ticket.id }) }}">OUVRIR
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope-open" viewBox="0 0 16 16">
                                <path d="M8.47 1.318a1 1 0 0 0-.94 0l-6 3.2A1 1 0 0 0 1 5.4v.817l5.75 3.45L8 8.917l1.25.75L15 6.217V5.4a1 1 0 0 0-.53-.882l-6-3.2ZM15 7.383l-4.778 2.867L15 13.117V7.383Zm-.035 6.88L8 10.082l-6.965 4.18A1 1 0 0 0 2 15h12a1 1 0 0 0 .965-.738ZM1 13.116l4.778-2.867L1 7.383v5.734ZM7.059.435a2 2 0 0 1 1.882 0l6 3.2A2 2 0 0 1 16 5.4V14a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V5.4a2 2 0 0 1 1.059-1.765l6-3.2Z"></path>
                            </svg>
                        </a>
                    {% else %}
                        {% if ticket.treatments|length == 1 and ticket.treatments.last.status == "RELAYÉ" %}
                            <a class="btn btn-primary" href="{{ path('app_ticket_open',{'id': ticket.id }) }}">OUVRIR
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope-open" viewBox="0 0 16 16">
                                    <path d="M8.47 1.318a1 1 0 0 0-.94 0l-6 3.2A1 1 0 0 0 1 5.4v.817l5.75 3.45L8 8.917l1.25.75L15 6.217V5.4a1 1 0 0 0-.53-.882l-6-3.2ZM15 7.383l-4.778 2.867L15 13.117V7.383Zm-.035 6.88L8 10.082l-6.965 4.18A1 1 0 0 0 2 15h12a1 1 0 0 0 .965-.738ZM1 13.116l4.778-2.867L1 7.383v5.734ZM7.059.435a2 2 0 0 1 1.882 0l6 3.2A2 2 0 0 1 16 5.4V14a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V5.4a2 2 0 0 1 1.059-1.765l6-3.2Z"></path>
                                </svg>
                            </a>
                        {% else %}
                            {% if ticket.resultDate is null %}
                                <button class="btn btn-error" onclick="transferModal.showModal()">Transférer</button>
                                <dialog id="transferModal" class="modal">
                                    <div class="modal-box">
                                        <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
                                        <h3 class="font-bold text-lg">Veuillez sélectionner le service que vous voulez transferer</h3>
                                        <details class="dropdown mb-32 w-full text-center">
                                            <summary class="m-1 btn btn-primary w-full text-center">Sélectionner</summary>
                                            <ul class="p-2 shadow menu dropdown-content z-[1] bg-base-100 rounded-box w-full text-center">
                                                {% for service in serviceLst %}
                                                    {% if service.id != ticket.service.id %}
                                                        <li><a href="{{ path('app_ticket_transfer',{'id':ticket.id,'service':service.id}) }}">{{ service.name }}</a></li>
                                                    {% endif %}
                                                {% endfor %}
                                            </ul>
                                        </details>
                                    </div>
                                </dialog>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="grid grid-col grid-cols-3 gap-4 justify-center items-center align-middle mt-3">
        {% for treatment in ticket.treatments %}
            <div class="card bg-gray-200 shadow-xl">
                <div class="card-body">
                    <h2 class="card-title">
                        <span class="badge badge-warning">{{ treatment.status }}</span>
                        <span class="badge badge-ghost">Commencé le {{ treatment.startDate|date('d/m/Y H:i') }}</span><span class="badge badge-ghost">{% if treatment.endDate is not null %}Fini le {{ treatment.endDate|date('d/m/Y H:i') }}{% else %}-{% endif %}</span></h2>
                    <p>Traité par {{ treatment.user.firstname ~ " " ~ treatment.user.name }}</p>
                    <p>Observations: {{ treatment.observations }}</p>
                    <div class="card-actions justify-end">
                        {% if treatment.user == app.user %}
                            {% if treatment.endDate is null %}
                                <!-- Open the modal using ID.showModal() method -->
                                <button class="btn btn-primary" onclick="closeModal.showModal()">terminer</button>
                                <dialog id="closeModal" class="modal">
                                    <form method="post" class="modal-box" action="{{ path('app_ticket_close',{'id':ticket.id}) }}">
                                        <h3 class="font-bold text-lg">Vous allez fermer le ticket.</h3>
                                        <label class="label">Entrez un raison<textarea required class="textarea" name="closeReason"></textarea></label>
                                        <label><input hidden name="_csrf_token" value="{{ csrf_token('close-ticket'~ticket.id) }}"></label>
                                        <div class="modal-action">
                                            <a class="btn btn-info" href="{{ path('app_ticket_see',{'id':ticket.id}) }}">Retour</a>
                                            <button class="btn btn-primary" type="submit">Fermer</button>
                                        </div>
                                    </form>
                                </dialog>
                            {% endif %}
                        {% else %}
                            {% if treatment.status != "RELAYÉ" %}
                                <a class="btn btn-primary" href="{{ path('app_ticket_relayed',{'id': ticket.id,'treatment':treatment.id}) }}">
                                    PRENDRE LE RELAIS
                                </a>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}