{% extends 'base.html.twig' %}

{% block title %}Ticketing{% endblock %}

{% block body %}
    {% if not app.user.active %}
        <div class="badge bg-warning text-lime-50 w-full h-10 p-4">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-triangle" viewBox="0 0 16 16">
                <path d="M7.938 2.016A.13.13 0 0 1 8.002 2a.13.13 0 0 1 .063.016.146.146 0 0 1 .054.057l6.857 11.667c.036.06.035.124.002.183a.163.163 0 0 1-.054.06.116.116 0 0 1-.066.017H1.146a.115.115 0 0 1-.066-.017.163.163 0 0 1-.054-.06.176.176 0 0 1 .002-.183L7.884 2.073a.147.147 0 0 1 .054-.057zm1.044-.45a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566z"></path>
                <path d="M7.002 12a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 5.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995z"></path>
            </svg>
            <div>
                Vous devez changer votre mot de passe. {{ include('_reset_password.html.twig', {'user':app.user}) }}
            </div>
        </div>
    {% endif %}
    <div>
        <a class="btn btn-secondary shadow-2xl ml-1" href="{{ path('app_ticket_new') }}">CRÉER UN TICKET</a>
        <a class="btn btn-ghost" href="{{ path('app_main') }}?dashboard=false">VOIR LES TICKETS DE MON SERVICE</a>
        <a class="btn btn-success" href="{{ path('app_main_my_tickets') }}">VOIR LES TICKETS QUE J'AI CREER</a>
        <div class="text-center">
            <div>
                {% if status == "EN ATTENTE" %}
                    <a class="btn btn-success" href="{{ path('app_main_my_tickets') }}">EN ATTENTE</a>
                {% else %}
                    <a class="btn btn-ghost" href="{{ path('app_main_my_tickets') }}">EN ATTENTE</a>
                {% endif %}
                {% if status == "EN COURS" %}
                    <a class="btn btn-success" href="{{ path('app_main_my_tickets') }}?status=EN_COURS">EN COURS</a>
                {% else %}
                    <a class="btn btn-ghost" href="{{ path('app_main_my_tickets') }}?status=EN_COURS">EN COURS</a>
                {% endif %}
                {% if status == "Fermé" %}
                    <a class="btn btn-success" href="{{ path('app_main_my_tickets') }}?status=Fermé">FERMÉ</a>
                {% else %}
                    <a class="btn btn-ghost" href="{{ path('app_main_my_tickets') }}?status=Fermé">FERMÉ</a>
                {% endif %}
            </div>
            <div class="grid grid-cols-3 mt-3 gap-4">
                {% set ticket_in_cat = false %}
                {% for ticket in myTickets %}
                    {% if status == "EN ATTENTE" or (ticket.treatments.last != false and ticket.treatments.last.status is not null) %}
                        {% set ticket_in_cat = true %}
                        <div class="card bg-gray-200 shadow-xl">
                            <div class="card-body">
                                <h2 class="card-title">
                                    <span class="badge badge-primary">
                                        Service {{ ticket.service.name }}
                                    </span>
                                    <span class="badge badge-warning">
                                        {% if ticket.treatments.last == false or ticket.treatments.last.status is null %}
                                            EN ATTENTE
                                        {% else %}
                                            {{ ticket.treatments.last.status }}
                                        {% endif %}
                                    </span>
                                    <span class="badge badge-ghost">Ouvert le: {{ ticket.createDate|date('d/m/Y H:i') }}</span>
                                    <span class="badge badge-ghost">{% if ticket.resultDate is not null %}Fermé le: {{ ticket.resultDate|date('d/m/Y H:i') }}{% else %}-{% endif %}</span>
                                    <span class="badge badge-secondary">TICKET T°{{ ticket.id }}</span>
                                </h2>
                                <p>Créer par {{ ticket.creator.firstname ~ " " ~ticket.creator.name }}</p>
                                <p>Traitement: {{ ticket.treatments|length }}</p>
                                <div class="card-actions justify-end">
                                    <a class="btn btn-primary" href="{{ path('app_ticket_see',{'id': ticket.id }) }}">voir
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                                            <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"></path>
                                            <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"></path>
                                        </svg>
                                    </a>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
                {% if not ticket_in_cat %}
                    Il n'y a pas de ticket dans cette catégorie...
                {% endif %}
            </div>
        </div>
    </div>
    <div class="mt-3 ml-2 mb-3 grid grid-cols-3 gap-4">
        <a href="{{ path('app_main') }}" class="btn btn-success w-full">VOIR LE DASHBOARD</a>
        <a href="{{ path('app_user') }}" class="btn btn-primary w-full">GESTION DES UTILISATEURS</a>
        <a href="{{ path('app_configuration_mail') }}" class="btn btn-primary w-full">PARAMETRE MAIL</a>
    </div>
{% endblock %}